farm-haystack[faiss,inference]==1.18.1
haystack-entailment-checker
plotly==5.14.1

# commented to not interfere with streamlit SDK in HF spces
# uncomment for local installation
# streamlit==1.19.0

altair<5
